ecc_cipher.py

import ecdsa
import os

# Create the directory if it doesn't exist
if not os.path.exists('cipher/ecc/keys'):
    os.makedirs('cipher/ecc/keys')

class ECCCipher:

    def __init__(self):
        pass

    def generate_keys(self):
        # Generate private key
        sk = ecdsa.SigningKey.generate()

        # Get public key from private key
        vk = sk.get_verifying_key()

        # Save private key
        with open('cipher/ecc/keys/privateKey.pem', 'wb') as p:
            p.write(sk.to_pem())

        # Save public key
        with open('cipher/ecc/keys/publickey.pem', 'wb') as p:
            p.write(vk.to_pem())

    def load_keys(self):
        # Load private key
        with open('cipher/ecc/keys/privateKey.pem', 'rb') as p:
            sk = ecdsa.SigningKey.from_pem(p.read())

        # Load public key
        with open('cipher/ecc/keys/publickey.pem', 'rb') as p:
            vk = ecdsa.VerifyingKey.from_pem(p.read())

        return sk, vk

    def sign(self, message, key):
        # Sign data with private key
        return key.sign(message.encode('ascii'))

    def verify(self, message, signature, key):
        # Load the public key
        vk = key

        try:
            # Verify the signature using the public key
            return vk.verify(signature, message.encode('ascii'))
        except ecdsa.BadSignatureError:
            return False
